.div_select {
   margin: 1rem;
   flex:1;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}
.div_select select{
   width: 2.5rem;
   height: 1.2rem;
}

@media (max-width:728px) {
   .div_select{
      margin-top: 20rem;
   }
}